@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Lato-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Lato-Medium.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Lato-Semibold.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Lato-Bold.ttf) format('ttf');
  }
}

body {
  background: #1f1f28;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #fff;

}

input,
textarea {
  outline: none;
  resize: none;
}

.box_message {
  @apply py-3 px-4 bg-[#0308127f] rounded-lg border border-[#222d43];
}

.animate_icons {
  @apply transition-colors duration-300;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar::-webkit-scrollbar-track {
  display: none;
}
.hidden-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}
